@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --diagonal-sections: 4deg;
  --inversal-diagonal-sections: -4deg;
  @media (max-width: 1536px) {
    --diagonal-sections: 10deg;
    --inversal-diagonal-sections: -10deg;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.bg-blur::before {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.event-separation {
  background-color: transparent;
  background-image: linear-gradient(var(--inversal-diagonal-sections), #64748B 49%, rgba(255,0,0,0) 50%);
}
.title-schedule {
  background-color: transparent;
  background-image: linear-gradient(var(--diagonal-sections), rgba(255,0,0,0) 49%,#64748B 50%);
  @media (min-width: 1536px) {
    --diagonal-sections: 4%;
  }
}
.title-location {
  background-color: transparent;
  background-image: linear-gradient(var(--inversal-diagonal-sections), white 49%, rgba(255,0,0,0) 50%);
  
}
/* .wrapper-front-logo {
  background: rgb(255,255,255);
  background: linear-gradient(rgba(255,255,255,0) 10%, rgba(0,0,0,0.8) 50%, rgba(255,255,255,0) 90%);
} */